.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
}

.modal__content {
  max-width: 496px;
  max-height: 436px;
  background-color: #fff;
  position: relative;

  padding: 28px 28px 36px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  border: 1px;
}

.modal__footer {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  max-width: 496px;
  max-height: 436px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.modal__label {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* .modal__fieldset {
  border: none;
  padding: 0;
} */

.modal__radio-button {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
  margin: 0;
}

.modal__submit {
  max-width: 124px;
  max-height: 36px;
  padding-left: 28px;
  padding-bottom: 36px;
  border-radius: 4px;
  color: #ffffff;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
}

.modal__content_type_image {
  padding: 0;
  margin: 0;
  max-width: 498px;
  border-radius: 16px;
}

.modal__image {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 498px;
  border-radius: 16px;
}

.modal__caption {
  padding-top: 20px;
  padding-left: 32px;
  margin: 0;
}

.modal__weather {
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 32px;
}

/* .modal__close_preview {
  border: none;
  width: 16px;
  height: 16px;
  background-color: none;
  list-style-type: none;
  color: #ffffff;
  position: absolute;
} */
