.toggle__switch {
  height: 28px;
  width: 56px;
  border: 2px solid gray;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

/* mix-blend-mode: ..
transform: translateX(...)
css toggle switch transformation */

.toggle__switch-checkbox {
  opacity: 0;
}

.toggle__switch-circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  transition: all 0.1s;
}

.toggle__switch-text {
  color: gray;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  /* text-align: center;
  vertical-align: middle; */
  position: absolute;
  top: 5px;
}

.toggle__switch-text--F {
  left: 9px;
  top: 8px;
}

.toggle__switch-text--C {
  right: 9px;
  top: 8px;
}

.toggle__switch-text--color {
  color: rgba(255, 255, 255, 1);
}

.toggle__switch-checkbox:checked ~ .toggle__switch-circle {
  left: 28px;
  color: rgba(255, 255, 255, 1);
}
